<div class="main-container">
  <h2>Search by ingredients</h2>

  <div class="ingredient-search-bar-container">
    <nz-select
      class="select-ingridients-bar"
      [nzMaxTagCount]="3"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Please select"
      [(ngModel)]="selectedIngrediens"
      nzSize="large"
    >
      <nz-option
        *ngFor="let item of ingredients"
        [nzLabel]="item.name"
        [nzValue]="item"
      ></nz-option>
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList
      >And {{ selectedList.length }} more selected...</ng-template
    >

    <button
      class="addButton"
      nz-button
      nzType="primary"
      (click)="searchRecipes()"
      nzSize="large"
    >
      <span nz-icon nzType="search"></span>
      Search
    </button>
  </div>

  <div class="recipe-list">
    <tr *ngFor="let recipe of resultedRecipes">
      <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </tr>
  </div>
</div>
