<h1>About Us!</h1>

<h2>Our Team</h2>

<nz-card class="custom-card">
  <nz-list [nzBordered]="false">
    <nz-list-item class="vertical-list-item">
      <a class="list-element" (click)="goToLink('https://www.linkedin.com/in/tudor-popa-11b4b5287/')">Tudor Popa</a>
      <a class="list-element" (click)="goToLink('https://www.linkedin.com/in/podoleanu-paul-a7a25723b/')">Paul Podoleanu</a>
      <a class="list-element" (click)="goToLink('https://www.linkedin.com/in/ștefan-sebastian-neicu-843a68298/')">Stefan Neicu</a>
    </nz-list-item>
  </nz-list>
</nz-card>

<h2>Go to source code!</h2>
<nz-card class="custom-card">
  <nz-list [nzBordered]="false">
    <nz-list-item class="vertical-list-item">
      <a (click)="goToLink('https://github.com/roommate6/team-pst')">Team-PST GitHub</a>
    </nz-list-item>
  </nz-list>
</nz-card>


