<ul class="menu-side-bar" nz-menu nzMode="horizontal">
  <li nz-menu-item (click)="moveToDashboard()">
    <span nz-icon nzType="home"></span>
    Home
  </li>
  <li nz-menu-item (click)="moveToNameSearch()">
    <span nz-icon nzType="fire"></span>
    Search by name
  </li>
  <li nz-menu-item (click)="moveToIngredientSearch()">
    <span nz-icon nzType="heart" nzTheme="outline"></span>
    Search by ingredients
  </li>
  <li nz-menu-item (click)="moveToUserPage()">
    <span nz-icon nzType="user"></span>
    User page
  </li>
</ul>
