<nz-card
  [nzBordered]="false"
  [nzTitle]="'Login'"
>
  <form nz-form>
    <nz-form-item>
      <nz-form-control>
        <input nz-input placeholder="Username" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" placeholder="Password"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="login()">Login</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<router-outlet/>
