<div class="main-container">

  <div class="center-container">

    <div class="image-ingredient-container">
      <img [src]="recipeImageUrl" alt="recipe image" class="image-container" />

      <!--List of the ingredients-->

      <div class="ingredients-container">
        <div class="recipe-name" [textContent]="recipe.name"></div>
        <h1>Ingredients</h1>
          <tr *ngFor="let ingredient of recipe.ingredients" class="ingredient">
            {{ ingredient.name }}
          </tr>
      </div>
    </div>



    <div class="description-container">
      {{ recipe.shortDescription }}
    </div>

    <!-- <div class="recipe-steps">
      <div *ngFor="let step of recipeTest.Steps; let stepNum = index">
        <app-step-card
          [stepNumber]="stepNum + 1"
          [stepDescription]="step"
        ></app-step-card>
      </div>
    </div> -->
  </div>
</div>
